<div class="row">
    <div [class]="entity && entity['id'] ? 'col-md-6' : 'col-md-9'">
      <div class="input-group">
        <input type="text" nbInput fullWidth placeholder="Name" [(ngModel)]="entity.name">
      </div>
    </div>
    <div [class]="entity && entity['id'] ? 'col-md-6' : 'col-md-3'">
      <div class="button-container">
        <input (click)="save()" nbButton type="button" size="xsmall" [value]="entity && entity.id ? 'Update':'Save'"/>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input *ngIf="entity && entity['id']" (click)="reset()" nbButton type="button" size="xsmall" value="Reset"/>
      </div>
    </div>
</div>
